/* 
Comentario en CSS

Regla CSS consta de 2 partes
1) Selector
2) Bloque de declaraciones:{
    atributo:valor;
    atributo-de-mas-de-dos-palabras:otro-valor;
}
*/

/* las @import Son mala practica porque son bloqueantes a la hora que el navegador lee esta instrucción. */
@import url("otra-hoja.css");

h1 {
  color: orangered;
  background-color: black;
  border-width: 5px;
  padding: 5px;
  border-radius: 20px;
}

/* Selectores Básicos:
    1) Etiquetas -Son elementos html
    2) Identificadores- atributo id -#
    3) Clases- atributo class - .
 */

p {
  color: midnightblue;
}

/* Dar estilos con id se considera un antipatrón */
#parrafo-2 {
  background-color: skyblue;
}

/* Dar estilos con clases nos permite reutilizar nuestro código CSS, una buena practica es tratar de hacerlo en orden alfabetico a-z*/
.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.hijos-directos > li {
  background-color: thistle;
}

.hijos-descendientes li b {
  background-color: thistle;
}

/* Los selectores de Hermanos van a aplicar a los elementos que son hermanos y que estén por debajo del elemento de referencia */
.hermanos-general ~ li {
  background-color: thistle;
}

/* El selector de Hermano Adyacente va a aplicar al elemento que es hermano y que está por debajo del elemento de referencia */
.hermanos-adyacentes + li {
  background-color: thistle;
}

/* Selectores de Atributos */
.selectores-atributos a[href] {
  color: orangered;
}

.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}

/* El comodín del * aplica el estilo si contiene el texto en cuestión*/
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* El comodín del Circunflejo se aplica el estilo si contiene la palabra en cuestión al inicio */
.selectores-atributos a[href^="http://"]
{
  text-decoration: none;
}

/* El comodín $ se aplica el estilo si contiene la palabra en cuestión al final */
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

/* El comodín $ se aplica el estilo si contiene la palabra en cuestión al final */
.selectores-atributos a[href$=".com"] {
  background-color: black;
}
